In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd

data = {
    'Producto': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A'],
    'Cantidad': [10, 15, 5, 7, 12, 9, 5, 11],
    'Precio': [20, 30, 20, 50, 30, 20, 50, 20],
    'Fecha': ['2024-07-01', '2024-07-01', '2024-07-02', '2024-07-02', '2024-07-03', '2024-07-03', '2024-07-04', '2024-07-04']
}

df = pd.DataFrame(data)

In [4]:
# 1. Agrupa por `Producto` y calcula la cantidad total vendida de cada producto
cantidad_total = df.groupby(['Producto'])['Cantidad'].sum()
print(cantidad_total)

Producto
A    35
B    27
C    12
Name: Cantidad, dtype: int64

In [5]:
# 1. Agrupa por `Producto` y calcula la cantidad total vendida de cada producto
df['ingreso'] = df['Cantidad'] * df['Precio']
ingreso_total = df.groupby(['Producto'])['ingreso'].sum()
print(ingreso_total)

Producto
A    700
B    810
C    600
Name: ingreso, dtype: int64

In [6]:
# 3. Agrupa por `Fecha` y calcula la cantidad total vendida cada día
cantidad_por_dia = df.groupby(['Fecha'])['Cantidad'].sum()
print(cantidad_por_dia)

Fecha
2024-07-01    25
2024-07-02    12
2024-07-03    21
2024-07-04    16
Name: Cantidad, dtype: int64

Ejercicio 2: Agrupación y Agregación

In [7]:
data = {
    'Empleado': ['Alice', 'Bob', 'Charlie', 'David', 'Edward', 'Frank', 'Grace'],
    'Departamento': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT'],
    'Salario': [50000, 60000, 70000, 45000, 80000, 85000, 60000],
    'Edad': [25, 30, 35, 28, 40, 45, 32]
}

df = pd.DataFrame(data)

In [8]:
# 1. Agrupa por `Departamento` y calcula el salario promedio en cada departamento
promedio_salario = df.groupby(['Departamento'])['Salario'].mean()
promedio_salario_f = promedio_salario.apply(lambda x: f'{x:.2f}')
print(promedio_salario_f)

Departamento
Finance    82500.00
HR         47500.00
IT         63333.33
Name: Salario, dtype: object

In [9]:
# 2. Agrupa por `Departamento` y encuentra 
# la edad máxima de los empleados en cada departamento
df.groupby(['Departamento'])['Edad'].max()

Departamento
Finance    45
HR         28
IT         35
Name: Edad, dtype: int64

In [10]:
# 3. Agrupa por `Departamento` 
# y cuenta el número de empleados en cada departamento

df.groupby(['Departamento'])['Empleado'].count()

Departamento
Finance    2
HR         2
IT         3
Name: Empleado, dtype: int64

Ejercicio 3: Filtrado después de Agrupar

In [11]:
data = {
    'Estudiante': ['Ana', 'Luis', 'Carlos', 'Marta', 'Pedro', 'Lucía', 'Jorge', 'Sofía'],
    'Curso': ['Matemáticas', 'Ciencias', 'Matemáticas', 'Historia', 'Ciencias', 'Historia', 'Matemáticas', 'Ciencias'],
    'Calificación': [90, 85, 78, 92, 88, 75, 85, 95]
}

df = pd.DataFrame(data)
df

  Estudiante        Curso  Calificación
0        Ana  Matemáticas            90
1       Luis     Ciencias            85
2     Carlos  Matemáticas            78
3      Marta     Historia            92
4      Pedro     Ciencias            88
5      Lucía     Historia            75
6      Jorge  Matemáticas            85
7      Sofía     Ciencias            95

In [12]:
calificacion_promedio = df.groupby(['Curso'])['Calificación'].mean()
print(calificacion_promedio)

Curso
Ciencias       89.333333
Historia       83.500000
Matemáticas    84.333333
Name: Calificación, dtype: float64

In [13]:
#filtrando los datos que tienen mayor a 85
mayor_85 = calificacion_promedio[calificacion_promedio > 85]
print(mayor_85)

Curso
Ciencias    89.333333
Name: Calificación, dtype: float64

In [14]:
for curso,value in df.groupby(['Curso'])['Calificación']:
    print(curso)
    print(value)

('Ciencias',)
1    85
4    88
7    95
Name: Calificación, dtype: int64
('Historia',)
3    92
5    75
Name: Calificación, dtype: int64
('Matemáticas',)
0    90
2    78
6    85
Name: Calificación, dtype: int64

In [15]:
promedios = df.groupby(['Curso'])['Calificación'].transform('mean')
print(promedios)

0    84.333333
1    89.333333
2    84.333333
3    83.500000
4    89.333333
5    83.500000
6    84.333333
7    89.333333
Name: Calificación, dtype: float64

In [16]:
# 3. Agrupa por `Curso` y muestra 
# solo los estudiantes que tienen una calificación 
# superior al promedio de su curso
promedios = df.groupby(['Curso'])['Calificación'].transform('mean')
estudiantes_superior_promedio = df[df['Calificación'] > promedios]
print(estudiantes_superior_promedio)

  Estudiante        Curso  Calificación
0        Ana  Matemáticas            90
3      Marta     Historia            92
6      Jorge  Matemáticas            85
7      Sofía     Ciencias            95

**Clase: Uso Avanzado de groupby en Pandas**

**¿Qué es groupby?**
* groupby es un método en pandas que permite **dividir un DataFrame en grupos según ciertos criterios**. Luego, puedes aplicar **funciones de agregación o transformación a cada grupo individualmente.**

**Teoría: Conceptos Clave de groupby**

**División-Agregación-Combinación**

* **División:** Separar el DataFrame en grupos.
* **Agregación:** Aplicar una función de resumen a cada grupo.
* **Combinación:** Unir los resultados en un DataFrame.

**Funciones Comunes de Agregación**

* sum()
* mean()
* count()
* min()
* max()
* std()
* var()
* sem()
* median()
* prod()
* first()
* last()

**Ejercicio 1: Suma por grupo**

In [17]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {
    'team': ['A', 'A', 'B', 'B', 'C', 'C'],
    'points': [10, 15, 10, 20, 30, 40],
    'assists': [1, 2, 2, 3, 4, 5]
}
df = pd.DataFrame(data)

In [18]:
# Usar groupby para sumar puntos por equipo

grouped_sum = df.groupby(['team']).sum()
print(grouped_sum)

      points  assists
team
A         25        3
B         30        5
C         70        9

**Teoría: Operaciones Avanzadas con groupby**

**Agregaciones Múltiples**

* Usar agg() para aplicar múltiples funciones de agregación.

In [19]:
result = df.groupby(['team']).agg({'points' : ['sum','mean'],
                           'assists': 'mean'})
print(result)

     points       assists
        sum  mean    mean
team
A        25  12.5     1.5
B        30  15.0     2.5
C        70  35.0     4.5

**Filtrado de Grupos**

* Filtrar grupos según una condición.

In [20]:
df['points']

0    10
1    15
2    10
3    20
4    30
5    40
Name: points, dtype: int64

**El DataFrame filtered debería contener solo los grupos de equipos cuya suma de puntos sea mayor a 25:**

In [21]:
[x for _,x in df.groupby(['team'])]

[  team  points  assists
 0    A      10        1
 1    A      15        2,
   team  points  assists
 2    B      10        2
 3    B      20        3,
   team  points  assists
 4    C      30        4
 5    C      40        5]

In [22]:
x = df.iloc[:2,:2]
x['points']

0    10
1    15
Name: points, dtype: int64

In [23]:
#primeras dos filas del dataframe
x = df[:2]
x['points'].sum()

25

In [24]:
def filter_func(x):
    return x['points'].sum() > 25


filtered = df.groupby(['team']).filter(filter_func)
print(filtered)

  team  points  assists
2    B      10        2
3    B      20        3
4    C      30        4
5    C      40        5

**Práctica: Ejercicios Intermedios con groupby**

**Ejercicio 2: Agregaciones Múltiples y Filtrado**

In [25]:
data = {
    'team': ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
    'points': [10, 15, 10, 20, 30, 40, 5, 7],
    'assists': [1, 2, 2, 3, 4, 5, 0, 1]
}
df = pd.DataFrame(data)

In [26]:
x = df[:2]
x['points']

0    10
1    15
Name: points, dtype: int64

In [27]:
#agregaciones multiples
result = df.groupby(['team']).agg({'points' : ['sum','mean'], 'assists': 'mean'})
# print(result)

#filtrar grupos
filtered = df.groupby(['team']).filter(lambda x: x['points'].sum() > 25)
print(filtered)

  team  points  assists
2    B      10        2
3    B      20        3
4    C      30        4
5    C      40        5

In [28]:
w = df.groupby(['team']).sum()
print(w)

      points  assists
team
A         25        3
B         30        5
C         70        9
D         12        1

In [29]:
df.groupby(['team'])['points'].sum()

team
A    25
B    30
C    70
D    12
Name: points, dtype: int64

**Teoría: Transformaciones y Aplicaciones Personalizadas**

**Transformaciones con transform**

* Aplicar una función que transforma los datos manteniendo el mismo tamaño que el DataFrame original.

* Ideal para: Crear o modificar columnas manteniendo el mismo número de filas en el DataFrame original.

* Uso: Aplica una función a cada grupo y devuelve un objeto con el mismo tamaño que el DataFrame original.

* Ejemplo: Crear una nueva columna basada en operaciones grupales

* Utiliza transform sin groupby para transformaciones simples a nivel de columna, y transform con groupby para transformaciones que dependen de los grupos en el DataFrame.

In [30]:
df['points_normalized'] = df.groupby(['team'])['points'].transform(lambda x: (x - x.mean()) / x.std())
df

  team  points  assists  points_normalized
0    A      10        1          -0.707107
1    A      15        2           0.707107
2    B      10        2          -0.707107
3    B      20        3           0.707107
4    C      30        4          -0.707107
5    C      40        5           0.707107
6    D       5        0          -0.707107
7    D       7        1           0.707107

**Aplicaciones Personalizadas con apply**

* Aplicar una función personalizada a cada grupo.

**apply**

* Ideal para: Aplicar una función a cada fila o grupo y potencialmente cambiar la estructura del DataFrame.

* Uso: Aplica una función a cada grupo y puede devolver un objeto con diferente tamaño o estructura.

* Ejemplo: Aplicar operaciones complejas que pueden cambiar la estructura del DataFrame.

In [31]:
"""
El uso de lambda devuelve una serie en esta caso en particular no
una columna de un dataframe
"""
result = df.groupby(['team']).apply(lambda x: x['points'] * 2)
print(type(result))
result

<class 'pandas.core.series.Series'>

team
A     0    20
      1    30
B     2    20
      3    40
C     4    60
      5    80
D     6    10
      7    14
Name: points, dtype: int64

In [32]:
"""
El uso de lambda devuelve una serie en esta caso en particular no
una columna de un dataframe, si quiero que se reescriba esa columna
tengo que usar el metodo **assing** para modificar y sobreescribir
la columna points

x.assign(points=x['points'] * 2): assign crea una copia 
del DataFrame con la columna points modificada, 
manteniendo la estructura original del DataFrame.
"""

#Sobre escribiendo la columna con la funcion lambda
# Usar una lambda función para modificar la columna 'points'
result = df.groupby(['team']).apply(lambda x: x.assign(points=x['points'] * 2))
print(result)

       team  points  assists  points_normalized
team
A    0    A      20        1          -0.707107
     1    A      30        2           0.707107
B    2    B      20        2          -0.707107
     3    B      40        3           0.707107
C    4    C      60        4          -0.707107
     5    C      80        5           0.707107
D    6    D      10        0          -0.707107
     7    D      14        1           0.707107

**Teoría: Combinación con otras funcionalidades de pandas**

**Combinación con pivot_table**

* Crear tablas dinámicas para resumir datos.

In [36]:
# Crear un DataFrame de ejemplo
data = {
    'team': ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
    'points': [10, 15, 10, 20, 30, 40, 5, 7],
    'assists': [1, 2, 2, 3, 4, 5, 0, 1]
}
df = pd.DataFrame(data)

# Crear una tabla dinámica
pivot = df.pivot_table(values='points', index='team', columns='assists', aggfunc='sum')
print(pivot)

assists    0     1     2     3     4     5
team
A        NaN  10.0  15.0   NaN   NaN   NaN
B        NaN   NaN  10.0  20.0   NaN   NaN
C        NaN   NaN   NaN   NaN  30.0  40.0
D        5.0   7.0   NaN   NaN   NaN   NaN