In [1]:
import pandas as pd
import numpy as np

In [2]:
serie = pd.Series([1, -999, 2, -999, -1000, 3])
serie

0       1
1    -999
2       2
3    -999
4   -1000
5       3
dtype: int64

**Remplazando valores**

In [3]:
# Reemplazar los valores -999 y -1000 con np.nan en la serie original
serie.replace([-999, -1000], np.nan, inplace=True)
serie

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [4]:
#de esta manera le indicas por indice el cambio
serie.replace([-999,-1000],[np.nan,0],inplace=True)
serie

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [22]:
df = pd.DataFrame(
    {
        "up" : np.arange(0,400,step=50).tolist(),
        "cft" : [800 for _ in range(8)],
        "cvt" : [0,100,240,360,460,520,540,750],
    }
)
df

    up  cft  cvt
0    0  800    0
1   50  800  100
2  100  800  240
3  150  800  360
4  200  800  460
5  250  800  520
6  300  800  540
7  350  800  750

In [14]:
# Corrige el reemplazo de valores mayores a 400 con NaN
#investigar
df.loc[df["cvt"] > 400, "cvt"] = np.nan

    up  cft    cvt
0    0  800    0.0
1   50  800  100.0
2  100  800  240.0
3  150  800  360.0
4  200  800    NaN
5  250  800    NaN
6  300  800    NaN
7  350  800    NaN

In [6]:
df["cvt"][df["cvt"] > 400] = np.nan
df

    up  cft    cvt
0    0  800    0.0
1   50  800  100.0
2  100  800  240.0
3  150  800  360.0
4  200  800    NaN
5  250  800    NaN
6  300  800    NaN
7  350  800    NaN