**Asignación de nombres a elementos de secuencia**

**Problema**
* Tiene código que accede a elementos de listas o tuplas por posición, pero esto hace que el código sea a veces algo difícil de leer. También le gustaría depender menos de la posición en la estructura, accediendo a los elementos por su nombre.

**Solución**

* **collections.namedtuple()**
* proporciona estas ventajas, al tiempo que añade una sobrecarga mínima sobre el uso de un objeto tupla normal. **collections.namedtuple() es en realidad un método de fábrica que devuelve una subclase del tipo de tupla estándar de Python.** Se le da un nombre de tipo y los campos que debe tener, y devuelve una clase que se puede instanciar, pasándole los valores de los campos que se han especificado.  valores para los campos que has definido, y así sucesivamente. Por ejemplo:

* Las tuplas con nombre son como las tuplas normales, pero los campos pueden ser accedidos tanto por índice de posición como por nombre de atributo. Esto hace que el código sea más legible y auto-documentado.

In [6]:
from collections import namedtuple

# Crear una clase de tupla con nombre 'Persona'
Persona = namedtuple('Persona',
                      ['nombre', 'edad', 'profesion'])

# Crear una instancia de 'Persona'
persona1 = Persona(nombre='Juan', edad=30, profesion='Ingeniero')

# Acceso a los campos por nombre
print(persona1.nombre)     # Salida: Juan
print(persona1.edad)       # Salida: 30
print(persona1.profesion)  # Salida: Ingeniero

# Acceso a los campos por índice
print(persona1[0])         # Salida: Juan
print(persona1[1])         # Salida: 30
print(persona1[2])         # Salida: Ingeniero

Juan
30
Ingeniero
Juan
30
Ingeniero

1) **Agrupación de Datos Relacionados:** Cuando se necesita agrupar varios datos relacionados, como las coordenadas de un punto (x, y) o los detalles de una persona (nombre, edad, profesión), las tuplas con nombre proporcionan una forma clara y eficiente de hacerlo.

2) **Acceso a Datos de Forma Clara:** Facilitan el acceso a los datos mediante nombres de atributos en lugar de índices, lo que hace que el código sea más fácil de entender y mantener.

3) **Sustitución de Clases Simples:** En casos donde se requiere una estructura de datos simple sin la necesidad de métodos adicionales, las tuplas con nombre pueden ser una alternativa ligera a las clases definidas con **class**.

**Ejemplo en Contexto Real**

* Supongamos que estás trabajando en una aplicación que gestiona los datos de empleados. Puedes usar namedtuple para representar a cada empleado de una manera clara y concisa.

In [11]:
from collections import namedtuple

# Definir la tupla con nombre 'Empleado'
Empleado = namedtuple('Empleado', ['id', 'nombre', 'puesto', 'salario'])

# Crear instancias de 'Empleado'
empleado1 = Empleado(id=1, nombre='Ana Pérez', puesto='Desarrolladora', salario=60000)
empleado2 = Empleado(id=2, nombre='Carlos López', puesto='Diseñador', salario=55000)

# Acceso a los datos de manera clara
print(f"Empleado: {empleado1.nombre}, Puesto: {empleado1.puesto}, Salario: ${empleado1.salario}")
print(f"Empleado: {empleado2.nombre}, Puesto: {empleado2.puesto}, Salario: ${empleado2.salario}")

Empleado: Ana Pérez, Puesto: Desarrolladora, Salario: $60000
Empleado: Carlos López, Puesto: Diseñador, Salario: $55000

**Ejemplo**

In [20]:
from collections import namedtuple

subscriber = namedtuple('suscriber', ['addr','joined'])

#instanciamos la subclase 'namedtuple'
sub = subscriber(addr='jonesy@example.com',joined='2012-10-19')

#accedemos a la iformacion por medio del atributo
print(sub.addr)
print(sub.joined)
print("")
#accedemos a la informacion por indice
print(sub[0])
print(sub[1])

jonesy@example.com
2012-10-19

jonesy@example.com
2012-10-19

* Uno de los principales usos de las tuplas con nombre **(namedtuple)** es desvincular el código de la posición de los elementos que manipula 

* Así, si recibes una gran lista de tuplas de una llamada a la base de datos, luego las manipulas accediendo a los elementos posicionales, tu código podría romperse si, añades una nueva columna a la tabla sin embargo esto no ocurre si primero convierte las tuplas devueltas a tuplas con nombre.

Para ilustrarlo, a continuación se muestra un código que utiliza tuplas normales:

In [22]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        total += rec[1] * rec[2]
    return total

2

 Naturalmente, puede evitar la conversión explícita a la Stock namedtuple si la secuencia de registros del ejemplo ya contiene instancias de este tipo.

In [24]:
from collections import namedtuple

Stock = namedtuple('Stock', ['name', 'shares', 'price'])

def compute_cost(records):
   total = 0.0
   for rec in records:
    s = Stock(*rec)
    total += s.shares * s.price
    return total

**Discusión**
* Un posible uso de una namedtuple es como sustituto de un diccionario, que requiere más espacio para su almacenamiento. Por lo tanto, si usted está construyendo grandes estructuras de datos que implican diccionarios, 

* el uso de una namedtuple será más eficiente. Sin embargo, tenga en cuenta que, a diferencia de un diccionario una namedtuple es inmutable. Por ejemplo:

In [29]:
s = Stock(name='ACME',shares=100,price=123.45)

Si necesita cambiar alguno de los atributos, puede hacerlo utilizando el **método _replace()** de una instancia namedtuple, que crea una namedtuple completamente nueva con los valores especificados sustituidos. Por ejemplo:

In [30]:
s = s._replace(shares=75)
s

Stock(name='ACME', shares=75, price=123.45)

* Un uso sutil del método _replace() es que puede ser una forma conveniente de rellenar tuplas con nombre que tienen campos opcionales o que faltan. 

* Para ello, se crea un prototipo tupla que contenga los valores por defecto y luego use _replace() para crear nuevas instancias con los valores reemplazados. Por ejemplo:

In [34]:
from collections import namedtuple

Stock = namedtuple('Stock', ['name','shares','price','date','time'])

#create a prototype instance
stock_prototype = Stock('',0,0.0,None,None)

# Function to convert a dictionary to a Stock
def dict_to_stock(s):
    """
    Está desempaquetando un diccionario y 
    pasándolo como argumentos de palabra clave al método _replace.
    """
    return stock_prototype._replace(**s)

In [35]:
a = {'name': 'ACME', 'shares': 100, 'price': 123.45}
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [36]:
b = {'name': 'ACME', 'shares': 100, 'price': 123.45, 'date': '12/17/2012'}
dict_to_stock(b)

Stock(name='ACME', shares=100, price=123.45, date='12/17/2012', time=None)

**Importante**

*  Por último, pero no menos importante, es necesario señalar que si tu objetivo es definir una estructura de datos eficiente en la que cambiarás varios atributos de instancia, usar namedtuple no es la mejor opción. En su lugar, considera definir una clase utilizando __slots__

pag 55