**Asignación de claves a múltiples valores en un diccionario**

**Problema**

* Desea crear un diccionario que asigne claves a más de un valor (lo que se denomina "multidict").

**Solución**

* Un diccionario es una asignación en la que cada clave se asigna a un único valor. Si desea asignar claves a múltiples valores, necesita almacenar los valores múltiples en otro contenedor
 como una lista o un conjunto. Por ejemplo, puede crear diccionarios como los siguientes

In [299]:
d = {
 'a' : [1, 2, 3],
 'b' : [4, 5]
 }

e = {
 'a' : {1, 2, 3},
 'b' : {4, 5}
 }

 La decisión de utilizar o no listas o conjuntos depende del uso previsto. Utilice una lista si desea conservar el orden de inserción de los elementos. Utilice un conjunto si desea eliminar
 duplicados (y no le importa el orden).

**defultdict**

 Para construir fácilmente estos diccionarios, puede utilizar defaultdict en el módulo collections. Una característica de defaultdict es que inicializa automáticamente el primer valor para que usted puede simplemente centrarse en la adición de elementos. Por ejemplo:

In [300]:
from collections import defaultdict

"""
Es la forma de crear un diccionario que tiene listas por ejemplo

d = {
        "a" : [],
        "b" : []
    }

de una manera más sencilla por asi decirlo
"""
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(4)
d['b'].append(10)

d

defaultdict(list, {'a': [1, 2], 'b': [4, 10]})

In [301]:
"""
Es la forma de crear un diccionario que tiene listas por ejemplo

d = {
        "a" : {},
        "b" : {}
    }

de una manera más sencilla por asi decirlo
"""

d = defaultdict(set)

d['a'].add(1)
d['a'].add(2)
d['b'].add(4)

d

defaultdict(set, {'a': {1, 2}, 'b': {4}})

Sin embargo esta es la mejor practica para crear los diccionarios

In [302]:
d = {}    # A regular dictionary
d.setdefault('a', []).append(1)
d.setdefault('a', []).append(2)
d.setdefault('b', []).append(4)

d

{'a': [1, 2], 'b': [4]}

**Discusión**

 En principio, construir un diccionario multivaluado es sencillo. Sin embargo, la inicialización del primer valor puede ser complicada si intenta hacerlo usted mismo. Por ejemplo, puede tener un código como el siguiente:

In [303]:
pairs = [('a', 1), ('b', 2), ('a', 3), ('c', 4), ('b', 5)]

**Utilización de itemgetter:**

**Función básica:**
* itemgetter se usa para recuperar elementos específicos de una secuencia (como una lista, tupla, o cualquier objeto que soporte indexación) o claves de un diccionario.

**Cómo funciona:**

* Cuando llamas a itemgetter(index), creas una función que, cuando se aplica a un objeto, devuelve el elemento en la posición index de ese objeto.
Puede tomar múltiples índices y devolverá una tupla de los elementos correspondientes.

In [304]:
from operator import itemgetter
key_getter = itemgetter(0)

for pair in pairs:
    print(key_getter(pair),pair[1])

a 1
b 2
a 3
c 4
b 5

In [305]:
from operator import itemgetter
key_getter = itemgetter(0)

d = {}
for pair in pairs:
    itemgetter_value =(key_getter(pair))
    value = pair[1]
    if itemgetter_value not in d:
        d[itemgetter_value] = []

    d[itemgetter_value].append(value)
    print(itemgetter_value, value,d)

d

a 1 {'a': [1]}
b 2 {'a': [1], 'b': [2]}
a 3 {'a': [1, 3], 'b': [2]}
c 4 {'a': [1, 3], 'b': [2], 'c': [4]}
b 5 {'a': [1, 3], 'b': [2, 5], 'c': [4]}

{'a': [1, 3], 'b': [2, 5], 'c': [4]}

In [1]:
from operator import itemgetter

pairs = [('a', 1), ('b', 2), ('a', 3), ('c', 4), ('b', 5)]

d = {}
key_getter = itemgetter(0)    # Función para obtener el primer elemento de una tupla

for pair in pairs:
    key = key_getter(pair)    # Obtener la clave de la tupla
    value = pair[1]           # Obtener el valor de la tupla (segundo elemento)
    if key not in d:
        d[key] = []           # Inicializar una lista vacía si la clave no está en el diccionario
    d[key].append(value)      # Agregar el valor a la lista correspondiente en d

print(d)

{'a': [1, 3], 'b': [2, 5], 'c': [4]}

In [307]:
d = {}
for key, value in pairs:
    if key not in d:
        d[key] = []
    d[key].append(value)
    print(key,value,d)

d

a 1 {'a': [1]}
b 2 {'a': [1], 'b': [2]}
a 3 {'a': [1, 3], 'b': [2]}
c 4 {'a': [1, 3], 'b': [2], 'c': [4]}
b 5 {'a': [1, 3], 'b': [2, 5], 'c': [4]}

{'a': [1, 3], 'b': [2, 5], 'c': [4]}

Usamos defaultdict para simplificar el codigo

In [308]:
from collections import defaultdict

d = defaultdict(list)
for key, value in pairs:
    d[key].append(value)

d

defaultdict(list, {'a': [1, 3], 'b': [2, 5], 'c': [4]})

**Mantener los diccionarios en orden: OrderedDict**

**Problema**

* Desea crear un diccionario y, además, controlar el orden de los elementos al iterar o serializar

**Solución**

* Para controlar el orden de los elementos en un diccionario, puede utilizar un OrderedDict del módulo collections. Conserva exactamente el orden de inserción original de los datos al iterar. Por ejemplo

In [309]:
from collections import OrderedDict

d = OrderedDict()
d["foo"] = 1
d["bar"] = 2
d["spam"] = 3
d["grok"] = 4

for key in d:
    print(key, d[key])

foo 1
bar 2
spam 3
grok 4

**Cálculo con diccionarios**

**Problema**

* Desea realizar varios cálculos (por ejemplo, valor mínimo, valor máximo, ordenación, etc.) en un diccionario de datos.
etc.) sobre un diccionario de datos

In [310]:
prices = {
 'ACME': 45.23,
 'AAPL': 612.78,
 'IBM': 205.55,
 'HPQ': 37.20,
 'FB': 10.75
 }

prices

{'ACME': 45.23, 'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2, 'FB': 10.75}

 Para realizar cálculos útiles sobre el contenido del diccionario, a menudo es útil invertir las claves y los valores del diccionario utilizando zip(). Por ejemplo
 encontrar el precio mínimo y máximo y el nombre de la acción:

In [311]:
min_price = min(zip(prices.values(),prices.keys()))
min_price

(10.75, 'FB')

In [312]:
max_price = max(zip(prices.values(),prices.keys()))
max_price

(612.78, 'AAPL')

In [313]:
prices_sorted = sorted(zip(prices.values(), prices.keys()))
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

**Filtrando por compañia con itemgetter**

In [314]:
from operator import itemgetter

company_sorted = sorted(zip(prices.values(), prices.keys()),key=itemgetter(1))
company_sorted

[(612.78, 'AAPL'),
 (45.23, 'ACME'),
 (10.75, 'FB'),
 (37.2, 'HPQ'),
 (205.55, 'IBM')]

 Al realizar estos cálculos, tenga en cuenta que zip() crea un iterador que sólo puede ser consumido una sola vez. Por ejemplo, el siguiente código es un error:

In [315]:
prices_and_names = zip(prices.values(), prices.keys())

In [316]:
print(min(prices, key=lambda k: prices[k]))  # Returns 'FB'
print(max(prices, key=lambda k: prices[k]))  # Returns 'AAPL

FB
AAPL

**Encontrar puntos en común en dos diccionarios**

**Problema**

* Tiene dos diccionarios y quiere averiguar qué pueden tener en común (las mismas mismas claves, mismos valores, etc.)

In [317]:
a = {
 'x' : 1,
 'y' : 2,
 'z' : 3
}

b = {
 'w' : 10,
 'x' : 11,
 'y' : 2
}

Para averiguar qué tienen en común los dos diccionarios, basta con realizar operaciones comunes de conjunto  utilizando los métodos keys() o items(). Por ejemplo

In [318]:
 # Find keys in common
a.keys() & b.keys()   # { 'x', 'y' }

{'x', 'y'}

In [319]:
# Find keys in a that are not in b
a.keys() - b.keys()   # { 'z' }

{'z'}

In [320]:
# Find keys in b that are not in a
b.keys() -  a.keys()   # { 'w' }

{'w'}

 Este tipo de operaciones también pueden utilizarse para alterar o filtrar el contenido del diccionario. En ejemplo, supongamos que desea crear un nuevo diccionario sin las claves seleccionadas. Aquí
 código de ejemplo que utiliza la comprensión de un diccionario:

**Standar expression**
* new_list = [expression for member in iterable]

**Expression with conditionals**
* new_list = [expression for member in iterable if conditional]

In [321]:
prices = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
def get_price_with_tax(price):
    return price * (1 + TAX_RATE)


final_prices = [get_price_with_tax(price) for price in prices]
final_prices
[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [322]:
import numpy as np

w = np.array([np.random.rand() ** 10 for x in range(1,11)])
w

array([1.64091488e-03, 2.06532135e-08, 5.11831394e-01, 5.18175818e-06,
       2.33971755e-03, 6.01780716e-06, 1.37936817e-01, 6.09001601e-03,
       2.45608272e-01, 1.07339077e-05])

In [323]:
import numpy as np

w = np.array([np.random.rand() ** 10 for x in range(1,11) if x > 3])
w

array([4.83976317e-03, 1.12406555e-01, 2.12144171e-09, 1.06296023e-01,
       7.42998224e-03, 1.06189919e-02, 1.82739082e-01])

In [324]:
c = {key: a[key] for key in a.keys() - {'z','w'}}
c

{'y': 2, 'x': 1}

**Eliminar duplicados de una secuencia manteniendo el orden**

**Problema**

* Desea eliminar los valores duplicados de una secuencia, pero conservar el orden de los elementos restantes.

**Solución**

* Si los valores de la secuencia son hashables, el problema puede resolverse fácilmente utilizando un conjunto
 y un generador. Por ejemplo:

**Metodo yield**

* El método yield en Python se utiliza dentro de funciones generadoras para permitir que la función devuelva un valor y luego se suspenda temporalmente su ejecución, conservando su estado para poder continuar desde donde se detuvo en la próxima llamada. Esto es útil cuando se trabaja con secuencias grandes de datos o cuando se desea generar una secuencia de valores uno a la vez, en lugar de devolverlos todos de una vez.

In [325]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

In [326]:
from numpy import arange, array

a = [1, 5, 2, 1, 9, 1, 5, 10]
list(dedupe(a))

[1, 5, 2, 9, 10]

In [327]:
def count_up_to(n):
    count = 1
    while count <= n:
        yield count
        count += 1

# Utilizar la función generadora para imprimir los números del 1 al 5
for num in count_up_to(5):
    print(num)

1
2
3
4
5

 Esto sólo funciona si los elementos de la secuencia son hashables. Si intenta eliminar duplicados en una secuencia de tipos no hashable (como dicts), puede hacer un ligero
a esta receta, como sigue:

In [328]:
#condition_if_true if condition else condition_if_false

def dedupe2(items, key=None):
    seen = set()
    for item in items:
        #Si key es None, val es igual a item.
        #Si key no es None, val es igual al resultado de key(item).
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)
            print(seen)

In [329]:
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
list(dedupe2(a,key=lambda d: (d["x"],d["y"])))

{(1, 2)}
{(1, 2), (1, 3)}
{(2, 4), (1, 2), (1, 3)}

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

**Determinación de los elementos más frecuentes de una secuencia**

**Problema**

* Tiene una secuencia de elementos y desea determinar los elementos que aparecen con más frecuencia en la secuencia.

**Solución**

* La clase collections.Counter está diseñada para este tipo de problemas. **Incluso dispone de un práctico método most_common()** que te dará la respuesta. Para ilustrarlo, supongamos que tenemos una lista de palabras y queremos saber cuáles son las más frecuentes. aparecen con más frecuencia. Así es como lo harías:

In [330]:
words = [
 'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
 'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
 'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
 'my', 'eyes', "you're", 'under'
 ]

In [331]:
from collections import Counter
word_counts = Counter(words)
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

**Ordenar una lista de diccionarios por una clave común**

**Problema**

* Tiene una lista de diccionarios y desea ordenar las entradas en función de uno o varios valores del diccionario. o más valores del diccionario.

In [332]:
rows = [
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [333]:
from operator import itemgetter

rows_by_lfname = sorted(rows, key=itemgetter('lname','fname'))
print(rows_by_lfname)

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

 La funcionalidad de itemgetter() se sustituye a veces por **expresiones lambda**. En ejemplo

**Estructura**
* lambda arguments: expression

In [334]:
for r in rows:
    print(r['fname'])

Brian
David
John
Big

In [335]:
rows_by_fname = sorted(rows,key=lambda r: r['fname'])
rows_by_fname

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [336]:
rows_by_fname = sorted(rows,key=lambda r: r['fname'])
rows_by_fname

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [337]:
rows_by_lfname = sorted(rows, key=lambda r: (r['lname'],r['fname']))
rows_by_lfname

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

En Python, attrgetter se usa típicamente con objetos que tienen atributos (como instancias de clases)

In [338]:
class User:
    def __init__(self,user_id):
        """
        El parametro user_id y se asigna como atributo self.user_id
        """
        self.user_id = user_id
    
    def __repr__(self):
        return 'User({})'.format(self.user_id)

In [339]:
users = [User(23),User(3), User(99)]
users

[User(23), User(3), User(99)]

In [340]:
from operator import attrgetter
sorted(users,key=attrgetter('user_id'))

[User(3), User(23), User(99)]

In [341]:
from operator import attrgetter

class Person:
    def __init__(self, fname):
        self.fname = fname

# Ejemplo de lista de objetos Person
people = [
    Person('Alice'),
    Person('Bob'),
    Person('Charlie')
]

# Ordenar por fname utilizando attrgetter
people_sorted_by_fname = sorted(people, key=attrgetter('fname'))

for person in people_sorted_by_fname:
    print(person.fname)

Alice
Bob
Charlie

**Agrupación de registros en función de un campo** 

**Problema**

* Tiene una secuencia de diccionarios o instancias y desea iterar sobre los datos en grupos basados en el valor de un campo en particular, como la fecha.

**Solución**

* La función **itertools.groupby()** es especialmente útil para agrupar datos de esta forma. Para ilustrarlo, supongamos que tenemos la siguiente lista de diccionarios

In [342]:
rows = [
 {'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
 ]

In [343]:
from operator import itemgetter
from itertools import groupby

# Sort by the desired field first
rows.sort(key=itemgetter('date'))
rows

[{'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]

**groupby de itertools:**

* El groupby de itertools agrupa elementos consecutivos en función de una clave dada. Aquí está el fragmento de código que has mostrado:

* itertools groupby agrupa elementos en base a una clave específica pero no realiza operaciones de agregación o transformación automáticamente como lo hace groupby en pandas.

In [344]:
#obtenemos todas las fechas
[itemgetter('date')(x) for x in rows]

['07/01/2012',
 '07/01/2012',
 '07/02/2012',
 '07/02/2012',
 '07/02/2012',
 '07/03/2012',
 '07/04/2012',
 '07/04/2012']

In [345]:
[itemgetter("address")(x) for x in rows]

['5412 N CLARK',
 '4801 N BROADWAY',
 '5800 E 58TH',
 '5645 N RAVENSWOOD',
 '1060 W ADDISON',
 '2122 N CLARK',
 '5148 N CLARK',
 '1039 W GRANVILLE']

El segundo elemento de cada tupla devuelta por groupby es un iterador sobre los elementos del grupo actual.

In [346]:
for date in groupby(rows,key=itemgetter('date')):
    print(date)

('07/01/2012', <itertools._grouper object at 0x000001D4CC596950>)
('07/02/2012', <itertools._grouper object at 0x000001D4CF8EF880>)
('07/03/2012', <itertools._grouper object at 0x000001D4CC596950>)
('07/04/2012', <itertools._grouper object at 0x000001D4CF8EF880>)

**Discusión**

* La función groupby() funciona escaneando una secuencia y encontrando "series" secuenciales de valores idénticos (o valores devueltos por la función clave dada). En cada iteración
 devuelve el valor junto con un iterador que produce todos los elementos de un grupo con el mismo valor.

* Un paso previo importante es ordenar los datos según el campo de interés. Dado que groupby() sólo examina elementos consecutivos, si no se ordena primero no se agruparán los registros como desea.

In [347]:
# Agrupar por la clave 'date'
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)  # Aquí date es el valor de la clave 'date' que define el grupo
    for item in items:
        print('    ', item)  # item es cada diccionario dentro del grupo correspondiente a 'date'

07/01/2012
     {'address': '5412 N CLARK', 'date': '07/01/2012'}
     {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
     {'address': '5800 E 58TH', 'date': '07/02/2012'}
     {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
     {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
     {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
     {'address': '5148 N CLARK', 'date': '07/04/2012'}
     {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

**groupby de itertools es útil cuando necesitas agrupar elementos consecutivos en una secuencia según un criterio específico. Aquí te indico algunos casos comunes en los que groupby es beneficioso:**

* **Agrupación por una clave específica:** Cuando tienes una lista de elementos y quieres agruparlos según el valor de una clave común. Por ejemplo, agrupar registros de datos por fecha, categorizar datos por algún atributo compartido, etc.

* **Datos ordenados:** groupby espera que los datos estén ordenados según el criterio de agrupación. Es útil cuando tienes datos ordenados por la clave por la que deseas agrupar, ya que agrupará elementos consecutivos que tengan el mismo valor para esa clave.

* **Eficiencia:** groupby funciona de manera eficiente ya que no requiere almacenar todos los datos en estructuras adicionales; trabaja directamente sobre la iteración de los datos existentes.

* **Operaciones de reducción:** Puedes usar groupby junto con funciones de agregación, como sum, max, min, etc., para realizar operaciones de reducción dentro de cada grupo de elementos.

* **Análisis de datos:** Es útil en tareas de análisis de datos donde necesitas segmentar y procesar conjuntos de datos agrupados según diferentes criterios.

**Otro ejemplo con analisis de datos**

In [348]:
from itertools import groupby
from operator import itemgetter

# Ejemplo de datos
rows = [
    {'date': '2024-07-01', 'value': 10},
    {'date': '2024-07-01', 'value': 15},
    {'date': '2024-07-02', 'value': 20},
    {'date': '2024-07-02', 'value': 25},
    {'date': '2024-07-02', 'value': 30},
]

# Lista para almacenar los resultados
grouped_data = []

# Agrupar por la clave 'date' y almacenar en grouped_data
for date, items in groupby(rows, key=itemgetter('date')):
    group = {'date': date, 'items': list(items)}
    grouped_data.append(group)

# Mostrar el resultado
for group in grouped_data:
    print(group['date'])
    for item in group['items']:
        print('    ', item)

2024-07-01
     {'date': '2024-07-01', 'value': 10}
     {'date': '2024-07-01', 'value': 15}
2024-07-02
     {'date': '2024-07-02', 'value': 20}
     {'date': '2024-07-02', 'value': 25}
     {'date': '2024-07-02', 'value': 30}

In [349]:
grouped_data

[{'date': '2024-07-01',
  'items': [{'date': '2024-07-01', 'value': 10},
   {'date': '2024-07-01', 'value': 15}]},
 {'date': '2024-07-02',
  'items': [{'date': '2024-07-02', 'value': 20},
   {'date': '2024-07-02', 'value': 25},
   {'date': '2024-07-02', 'value': 30}]}]

In [350]:
grouped_data[0]

{'date': '2024-07-01',
 'items': [{'date': '2024-07-01', 'value': 10},
  {'date': '2024-07-01', 'value': 15}]}

**Ejemplo de estudio**

**Punto numero 1**
* x es una lista que contiene 2 diccionarios anidados donde el primer for me permite recorrer ambos diccionarios.

In [404]:
x = [
    {
        'date': '2024-07-01',
        'items': [
            {'date': '2024-07-01', 'value': 10},
            {'date': '2024-07-01', 'value': 15}
        ]
    },
    {
        'date': '2024-07-02',
        'items': [
            {'date': '2024-07-02', 'value': 20},
            {'date': '2024-07-02', 'value': 25},
            {'date': '2024-07-02', 'value': 30}
        ]
    }
]

**Punto numero 2**
* Si itero sobre ambos diccionarios me puedo dar cuenta que "date" y "items" son keys pero que "items" tienen una lista que contiene un diccionario interno con una key = "date" y una "value"

In [352]:
for group in x:
    print(group)

{'date': '2024-07-01', 'items': [{'date': '2024-07-01', 'value': 10}, {'date': '2024-07-01', 'value': 15}]}
{'date': '2024-07-02', 'items': [{'date': '2024-07-02', 'value': 20}, {'date': '2024-07-02', 'value': 25}, {'date': '2024-07-02', 'value': 30}]}

In [353]:
for group in x:
    print(group["date"])

2024-07-01
2024-07-02

In [354]:
for group in x:
    print(group["items"])

[{'date': '2024-07-01', 'value': 10}, {'date': '2024-07-01', 'value': 15}]
[{'date': '2024-07-02', 'value': 20}, {'date': '2024-07-02', 'value': 25}, {'date': '2024-07-02', 'value': 30}]

In [355]:
for group in x:
    print(f"{group['items']}\n")
    for valor in group['items']:
        print(f"{valor['value']}\n")

[{'date': '2024-07-01', 'value': 10}, {'date': '2024-07-01', 'value': 15}]

10

15

[{'date': '2024-07-02', 'value': 20}, {'date': '2024-07-02', 'value': 25}, {'date': '2024-07-02', 'value': 30}]

20

25

30

**Punto numero 3**
* Este blucle for despues de iterar sobre cada uno de los dos diccionarios anidados me permite dentro de la listcomprehension **iterar intermente** sobre la clave key = "items" y tomar sus valores internos con item["values"] asignandolos a la variable valor_total donde al momento de hacer la primera iteracion me traera los valores internos

In [356]:
for group in x:
    valor_total = [item["value"] for item in group['items']]
    print(valor_total)

[10, 15]
[20, 25, 30]

In [357]:
# Ejemplo de análisis posterior
# Calcular suma de 'value' para cada fecha
for group in grouped_data:
    total_value = sum(item['value'] for item in group['items'])
    print(f"Total value for date {group['date']}: {total_value}")

Total value for date 2024-07-01: 25
Total value for date 2024-07-02: 75

**La conclusion** 

* Cuando se me presente algun caso similar es entender que primero debo iterar sobre esa lista de diccionarios anidados independientemente de cual sea su tamaño y posteriormente recorrer internamente esos diccionarios y los valores que llega a necesitar de ellos.

**Por qué es Importante este Enfoque:**
* Claridad y estructura: Dividir el proceso en pasos separados (iterar externamente y luego acceder internamente) hace que tu código sea más claro y fácil de entender para otros programadores que puedan leerlo en el futuro.

**Flexibilidad y manejo de datos:**
* Manejar datos estructurados de esta manera permite una manipulación y análisis más flexible y dinámica. Puedes realizar operaciones específicas en cada nivel de la estructura sin confusiones.

**Ejemplo de Mejores Prácticas:**

In [358]:
# Ejemplo genérico para iterar sobre una lista de diccionarios anidados
for group in x:
    # Acceder a la clave 'items' dentro de cada diccionario 'group'
    if 'items' in group:
        # Usar una comprensión de lista para acceder a los valores de 'value' dentro de 'items'
        valores = [item['value'] for item in group['items']]
        # Realizar cualquier operación necesaria con 'valores'
        print(f"Valores para el grupo con fecha {group['date']}: {valores}")

Valores para el grupo con fecha 2024-07-01: [10, 15]
Valores para el grupo con fecha 2024-07-02: [20, 25, 30]

**Que se puediera mejorar**

* 1 - Usar una listcomprehension de esta manera para # List comprehension con bucle for anidado
**anidado = [[bucle interno] bucle externo]** para no que sea mas elegante

In [359]:
"""
El bucle externo (derecha): es el que recorre la lista de diccionarios
El bucle interno (izquierda): es el que recorre internamente la clave "items" para obtener los valores 
"""

# List comprehension anidada para obtener una lista de listas de valores 'value'
anidado = [[valor['value'] for valor in group['items']] for group in x]
anidado

[[10, 15], [20, 25, 30]]

In [13]:
x = [
    {
        'date': '2024-07-01',
        'items': [
            {'date': '2024-07-01', 'value': 10},
            {'date': '2024-07-01', 'value': 15}
        ]
    },
    {
        'date': '2024-07-02',
        'items': [
            {'date': '2024-07-02', 'value': 20},
            {'date': '2024-07-02', 'value': 25},
            {'date': '2024-07-02', 'value': 30}
        ]
    }
]

**Ejercicios**

Extrae y muestra todos los valores (value) del día '2024-07-01'.

In [365]:
date_to_find = '2024-07-01'
for record in x:    
    if record["date"] == date_to_find:
        for item in record["items"]:
            print(item["value"])

10
15

Extrae y muestra todos los valores (value) del día '2024-07-01' con una funcion.

In [87]:
def date_to_find(data,date):
    values = []
    for record in data:
        if record['date'] == date:
            for item in record['items']:
                values.append(item['value'])
    return values

In [88]:
w = date_to_find(x,'2024-07-01')
w

[10, 15]

Calcula y muestra el promedio de los valores (value) del día '2024-07-02'

In [24]:
date_to_find = '2024-07-02'
all_values = []
for record in x:
    if record["date"] == date_to_find:
        for item in record["items"]:
            all_values.append(item['value'])
            
average = (sum(all_values) / len(all_values))
print(average)

25.0

Agrega un nuevo valor (value) de 35 al día '2024-07-02'.

In [25]:
new_value = {'date' : "2024-07-02", 'value' : 35}

for record in x:
    if record['date'] == new_value['date']:
        record['items'].append(new_value)

In [26]:
x

[{'date': '2024-07-01',
  'items': [{'date': '2024-07-01', 'value': 10},
   {'date': '2024-07-01', 'value': 15}]},
 {'date': '2024-07-02',
  'items': [{'date': '2024-07-02', 'value': 20},
   {'date': '2024-07-02', 'value': 25},
   {'date': '2024-07-02', 'value': 30},
   {'date': '2024-07-02', 'value': 35}]}]

Eliminar todos los valores de un día específico:

In [10]:
date_to_remove = '2024-07-01'
for record in x:
    if record['date'] == date_to_remove:
        record['items'] = []

In [11]:
x

[{'date': '2024-07-01', 'items': []},
 {'date': '2024-07-02',
  'items': [{'date': '2024-07-02', 'value': 20},
   {'date': '2024-07-02', 'value': 25},
   {'date': '2024-07-02', 'value': 30}]}]

Encontrar el valor máximo y mínimo de todos los días:

In [83]:
x = [
    {
        'date': '2024-07-01',
        'items': [
            {'date': '2024-07-01', 'value': 10},
            {'date': '2024-07-01', 'value': 15}
        ]
    },
    {
        'date': '2024-07-02',
        'items': [
            {'date': '2024-07-02', 'value': 20},
            {'date': '2024-07-02', 'value': 25},
            {'date': '2024-07-02', 'value': 30}
        ]
    }
]

In [28]:
all_values = []
for record in x:
    for item in record['items']:
        all_values.append(item['value'])

max_value = max(all_values)
min_value = min(all_values)

print(f'Max Value: {max_value}')
print(f'Min Value: {min_value}')

Max Value: 30
Min Value: 10

Crear una funcion y encontrar el valor máximo y mínimo de todos los días:

In [77]:
def max_and_min(data):
    all_values = []
    for record in data:
        for item in record['items']:
            all_values.append(item['value'])
    
    return all_values

In [80]:
w = max_and_min(x)
print(f'Max Value: {max(w)}')
print(f'Min Value: {min(w)}')

Max Value: 30
Min Value: 10

**Ejercicio Avanzado**

* Reestructurar los datos por valor total de cada día:

In [31]:
new_structure = []
for record in x:
    date = record['date']
    total_value = sum([item['value'] for item in record['items']])
    new_structure.append({'date' : date, 'total_value': total_value})

print(new_structure)

[{'date': '2024-07-01', 'total_value': 25}, {'date': '2024-07-02', 'total_value': 75}]

**Ejemplo avanzado en funcion**

In [69]:
def structured_data(data):
    new_structure = []
    for record in data:
        date = record['date']
        total_value = sum(item['value'] for item in record['items'])
        new_structure.append(
            {
                'date': date,
                'total_value' : total_value
            }
        )
    return new_structure

In [72]:
w = structured_data(x)
for x in w:
    print(x)

{'date': '2024-07-01', 'total_value': 25}
{'date': '2024-07-02', 'total_value': 75}

**Ejercicio Complejo**

* Agrupar valores por día y calcular estadísticas:

In [61]:
import math

def calculate_statistics(data):
    result = []
    for record in data:
        date = record['date']
        values = [item['value'] for item in record['items']]
        total = sum(values)
        average = total / len(values)
        variance = sum((v - average)**2 for v in values) /  len(values)
        std_dev = math.sqrt(variance)

        result.append(
            {
                'date' : date,
                'total' : total,
                'average' : average,
                'variance' : variance,
                'std_dev' : std_dev
            }
        )
    return result

In [67]:
statistics = calculate_statistics(x)
for stats in statistics:
    print(f"Date: {stats['date']}")
    print(f"Total: {stats['total']}")
    print(f"Average: {stats['average']:.2f}")
    print(f"Std Dev: {stats['std_dev']:.2f}\n")

Date: 2024-07-01
Total: 25
Average: 12.50
Std Dev: 2.50

Date: 2024-07-02
Total: 75
Average: 25.00
Std Dev: 4.08

**Ejercicios con groupby**

**Ejercicios Sencillos**
* Agrupar números por paridad (pares e impares)

In [27]:
from itertools import groupby
from operator import itemgetter
from numpy import arange

numbers = list(arange(1,11))
#ordenar por pares
sorted_numbers = sorted(numbers,key=lambda x: x % 2)

grouped_numbers = groupby(sorted_numbers,key=lambda x: x % 2)
for key,group in grouped_numbers:
    parity = 'par' if key == 0 else 'inpar'
    print(f"{parity}: {list(group)}")

par: [2, 4, 6, 8, 10]
inpar: [1, 3, 5, 7, 9]

**Agrupar nombres por la primera letra:**

* Dada una lista de nombres, agrúpalos por su primera letra.

In [39]:
from itertools import groupby
from operator import itemgetter

names = ['Alice', 'Adam', 'Bob', 'Charlie', 'David', 'Edward', 'Eva']
#ordena los nombres por la primera leta
sorted_names = sorted(names,key=itemgetter(0))

grouped_names = groupby(sorted_names,key=itemgetter(0))
for key, group in grouped_names:
    print(f"{key} : {list(group)}")

A : ['Alice', 'Adam']
B : ['Bob']
C : ['Charlie']
D : ['David']
E : ['Edward', 'Eva']

**Ejercicios Medios**
* Agrupar transacciones por tipo:

* Dada una lista de transacciones con un tipo y un monto, agrúpalas por tipo.

In [48]:
from itertools import groupby
from operator import itemgetter

transactions = [
    {'type': 'deposit', 'amount': 100},
    {'type': 'withdrawal', 'amount': 50},
    {'type': 'deposit', 'amount': 200},
    {'type': 'withdrawal', 'amount': 75},
    {'type': 'deposit', 'amount': 150}
]

sorted_transactions = sorted(transactions,key=itemgetter('type'))
grouped_transactions = groupby(sorted_transactions, key=itemgetter('type'))
for key, group in grouped_transactions:
    print(f"{key}: {list(group)}")

deposit: [{'type': 'deposit', 'amount': 100}, {'type': 'deposit', 'amount': 200}, {'type': 'deposit', 'amount': 150}]
withdrawal: [{'type': 'withdrawal', 'amount': 50}, {'type': 'withdrawal', 'amount': 75}]

**Agrupar eventos por fecha:**

* Dada una lista de eventos con fechas y nombres, agrúpalos por fecha.

In [50]:
from itertools import groupby
from operator import itemgetter

events = [
    {'date': '2024-07-01', 'event': 'Meeting'},
    {'date': '2024-07-02', 'event': 'Conference'},
    {'date': '2024-07-01', 'event': 'Workshop'},
    {'date': '2024-07-03', 'event': 'Seminar'},
    {'date': '2024-07-02', 'event': 'Webinar'}
]

sorted_events = sorted(events,key=itemgetter('date'))
grouped_events = groupby(sorted_events,key=itemgetter('date'))
for key, group in grouped_events:
    print(f"{key} : {list(group)}")

2024-07-01 : [{'date': '2024-07-01', 'event': 'Meeting'}, {'date': '2024-07-01', 'event': 'Workshop'}]
2024-07-02 : [{'date': '2024-07-02', 'event': 'Conference'}, {'date': '2024-07-02', 'event': 'Webinar'}]
2024-07-03 : [{'date': '2024-07-03', 'event': 'Seminar'}]

**Ejercicios Avanzados**

* Dada una lista de productos con categorías y ventas, agrúpalos por categoría y calcula el total de ventas por categoría.

In [70]:
from itertools import groupby
from operator import itemgetter

products = [
    {'category': 'Electronics', 'sales': 1500},
    {'category': 'Furniture', 'sales': 3000},
    {'category': 'Electronics', 'sales': 2500},
    {'category': 'Clothing', 'sales': 1200},
    {'category': 'Furniture', 'sales': 2000},
    {'category': 'Clothing', 'sales': 800}
]

sorted_products = sorted(products,key=itemgetter('category'))

grouped_products = groupby(sorted_products,key=itemgetter('category'))

for key,group in grouped_products:
    total_value_category = sum([item['sales'] for item in group])
    print(f"{key} : Total Sales = {total_value_category}")

Clothing : Total Sales = 2000
Electronics : Total Sales = 4000
Furniture : Total Sales = 5000

**Agrupar empleados por departamento y calcular el promedio de salario:**

* Dada una lista de empleados con departamentos y salarios, agrúpalos por departamento y calcula el promedio de salario por departamento.

In [134]:
from itertools import groupby
from operator import itemgetter
import pandas as pd

employees = [
    {'department': 'HR', 'salary': 50000},
    {'department': 'IT', 'salary': 70000},
    {'department': 'HR', 'salary': 60000},
    {'department': 'Finance', 'salary': 80000},
    {'department': 'IT', 'salary': 75000},
    {'department': 'Finance', 'salary': 85000}
]

sorted_employees = sorted(employees,key=itemgetter('department'))
grouped_employess = groupby(sorted_employees,key=itemgetter('department'))

for key, group in grouped_employess:
    salarys = [item['salary'] for item in group]
    average = sum(salarys) / len(salarys)
    print(f"deparment: {key}: Average Salary = {average:.2f}")

deparment: Finance: Average Salary = 82500.00
deparment: HR: Average Salary = 55000.00
deparment: IT: Average Salary = 72500.00

**Ejercicios Medios con sub-DataFrame**
* Agrupar eventos por fecha y crear sub-DataFrame:

In [105]:
from itertools import groupby
from operator import itemgetter
import pandas as pd

events = [
    {'date': '2024-07-01', 'event': 'Meeting'},
    {'date': '2024-07-02', 'event': 'Conference'},
    {'date': '2024-07-01', 'event': 'Workshop'},
    {'date': '2024-07-03', 'event': 'Seminar'},
    {'date': '2024-07-02', 'event': 'Webinar'}

]

sorted_events = sorted(events,key=itemgetter('date'))

grouped_events = groupby(sorted_events,key=itemgetter('date'))
for key, group in grouped_events:
    group_list = list(group)
    # print(f"{key} : {group_list}")
    
    df = pd.DataFrame(group_list)
    print(f"Sub-DataFrame for date {key}:\n{df}\n")

Sub-DataFrame for date 2024-07-01:
         date     event
0  2024-07-01   Meeting
1  2024-07-01  Workshop

Sub-DataFrame for date 2024-07-02:
         date       event
0  2024-07-02  Conference
1  2024-07-02     Webinar

Sub-DataFrame for date 2024-07-03:
         date    event
0  2024-07-03  Seminar

Agrupar transacciones por tipo y crear sub-DataFrame:

In [108]:
from itertools import groupby
from operator import itemgetter
import pandas as pd

transactions = [
    {'type': 'deposit', 'amount': 100},
    {'type': 'withdrawal', 'amount': 50},
    {'type': 'deposit', 'amount': 200},
    {'type': 'withdrawal', 'amount': 75},
    {'type': 'deposit', 'amount': 150}
]
sorted_transactions = sorted(transactions, key=itemgetter('type'))

grouped_transactions = groupby(sorted_transactions, key=itemgetter('type'))
for key, group in grouped_transactions:
    group_list = list(group)
    print(f"{key}: {group_list}")
    df = pd.DataFrame(group_list)
    print(f"Sub-DataFrame for type {key}:\n{df}\n")

deposit: [{'type': 'deposit', 'amount': 100}, {'type': 'deposit', 'amount': 200}, {'type': 'deposit', 'amount': 150}]
Sub-DataFrame for type deposit:
      type  amount
0  deposit     100
1  deposit     200
2  deposit     150

withdrawal: [{'type': 'withdrawal', 'amount': 50}, {'type': 'withdrawal', 'amount': 75}]
Sub-DataFrame for type withdrawal:
         type  amount
0  withdrawal      50
1  withdrawal      75

**Ejercicios Avanzados con sub-DataFrame**

* Agrupar productos por categoría, crear sub-DataFrame y calcular el total de ventas:

In [109]:
from itertools import groupby
from operator import itemgetter
import pandas as pd

products = [
    {'category': 'Electronics', 'sales': 1500},
    {'category': 'Furniture', 'sales': 3000},
    {'category': 'Electronics', 'sales': 2500},
    {'category': 'Clothing', 'sales': 1200},
    {'category': 'Furniture', 'sales': 2000},
    {'category': 'Clothing', 'sales': 800}
]
sorted_products = sorted(products, key=itemgetter('category'))

grouped_products = groupby(sorted_products, key=itemgetter('category'))
for key, group in grouped_products:
    group_list = list(group)
    print(f"{key}: {group_list}")
    df = pd.DataFrame(group_list)
    total_sales = df['sales'].sum()
    print(f"Sub-DataFrame for category {key}:\n{df}\n")
    print(f"Total Sales for {key} = {total_sales}\n")

Clothing: [{'category': 'Clothing', 'sales': 1200}, {'category': 'Clothing', 'sales': 800}]
Sub-DataFrame for category Clothing:
   category  sales
0  Clothing   1200
1  Clothing    800

Total Sales for Clothing = 2000

Electronics: [{'category': 'Electronics', 'sales': 1500}, {'category': 'Electronics', 'sales': 2500}]
Sub-DataFrame for category Electronics:
      category  sales
0  Electronics   1500
1  Electronics   2500

Total Sales for Electronics = 4000

Furniture: [{'category': 'Furniture', 'sales': 3000}, {'category': 'Furniture', 'sales': 2000}]
Sub-DataFrame for category Furniture:
    category  sales
0  Furniture   3000
1  Furniture   2000

Total Sales for Furniture = 5000

Agrupar empleados por departamento y crear sub-DataFrame

In [110]:
from itertools import groupby
from operator import itemgetter
import pandas as pd

employees = [
    {'department': 'HR', 'name': 'Alice', 'salary': 50000},
    {'department': 'IT', 'name': 'Bob', 'salary': 70000},
    {'department': 'HR', 'name': 'Charlie', 'salary': 60000},
    {'department': 'Sales', 'name': 'David', 'salary': 55000},
    {'department': 'IT', 'name': 'Eva', 'salary': 75000},
    {'department': 'Sales', 'name': 'Frank', 'salary': 65000}
]
sorted_employees = sorted(employees, key=itemgetter('department'))

grouped_employees = groupby(sorted_employees, key=itemgetter('department'))
for key, group in grouped_employees:
    group_list = list(group)
    print(f"{key}: {group_list}")
    df = pd.DataFrame(group_list)
    avg_salary = df['salary'].mean()
    print(f"Sub-DataFrame for department {key}:\n{df}\n")
    print(f"Average Salary for {key} = {avg_salary}\n")

HR: [{'department': 'HR', 'name': 'Alice', 'salary': 50000}, {'department': 'HR', 'name': 'Charlie', 'salary': 60000}]
Sub-DataFrame for department HR:
  department     name  salary
0         HR    Alice   50000
1         HR  Charlie   60000

Average Salary for HR = 55000.0

IT: [{'department': 'IT', 'name': 'Bob', 'salary': 70000}, {'department': 'IT', 'name': 'Eva', 'salary': 75000}]
Sub-DataFrame for department IT:
  department name  salary
0         IT  Bob   70000
1         IT  Eva   75000

Average Salary for IT = 72500.0

Sales: [{'department': 'Sales', 'name': 'David', 'salary': 55000}, {'department': 'Sales', 'name': 'Frank', 'salary': 65000}]
Sub-DataFrame for department Sales:
  department   name  salary
0      Sales  David   55000
1      Sales  Frank   65000

Average Salary for Sales = 60000.0

In [135]:
from itertools import groupby
from operator import itemgetter
import pandas as pd

employees = [
    {'department': 'HR', 'name': 'Alice', 'salary': 50000},
    {'department': 'IT', 'name': 'Bob', 'salary': 70000},
    {'department': 'HR', 'name': 'Charlie', 'salary': 60000},
    {'department': 'Sales', 'name': 'David', 'salary': 55000},
    {'department': 'IT', 'name': 'Eva', 'salary': 75000},
    {'department': 'Sales', 'name': 'Frank', 'salary': 65000}
]
sorted_employees = sorted(employees, key=itemgetter('department'))

grouped_employees = groupby(sorted_employees, key=itemgetter('department'))
sub_dfs = {}

for key, group in grouped_employees:
    group_list = list(group)
    sub_dfs[key] = pd.DataFrame(group_list)
    print(f"Sub-DataFrame for department {key}:\n{sub_dfs[key]}\n")

# # Ahora puedes acceder a cada sub-DataFrame de forma individual
# print(sub_dfs['HR'])
# print(sub_dfs['IT'])
# print(f"{sub_dfs['Sales']}\n")

# Ejemplo de análisis adicional: calcular el salario promedio para cada departamento
for dept, df in sub_dfs.items():
    avg_salary = df['salary'].mean()
    print(f"Average Salary for {dept} = {avg_salary:.2f}")

Sub-DataFrame for department HR:
  department     name  salary
0         HR    Alice   50000
1         HR  Charlie   60000

Sub-DataFrame for department IT:
  department name  salary
0         IT  Bob   70000
1         IT  Eva   75000

Sub-DataFrame for department Sales:
  department   name  salary
0      Sales  David   55000
1      Sales  Frank   65000

Average Salary for HR = 55000.00
Average Salary for IT = 72500.00
Average Salary for Sales = 60000.00

**Resultado del análisis:**

* Después de ejecutar este código, obtendrías un DataFrame grouped_df que contiene los resultados de los análisis realizados. Aquí puedes ver cómo cada fecha tiene asociados valores como el promedio, la suma total, el número de elementos y más. Esto te proporciona información valiosa sobre tus datos agrupados, que puedes utilizar para tomar decisiones o realizar análisis más avanzados según tus necesidades específicas.

In [362]:
import pandas as pd
from itertools import groupby
from operator import itemgetter

# Datos de ejemplo en forma de DataFrame de pandas
data = {
    'date': ['2024-07-01', '2024-07-01', '2024-07-02', '2024-07-02', '2024-07-02'],
    'value': [10, 15, 20, 25, 30]
}
df = pd.DataFrame(data)

# Agrupar usando groupby de itertools
grouped_data = []
for date, items in groupby(df.to_dict(orient='records'), key=itemgetter('date')):
    group = {'date': date, 'items': list(items)}
    grouped_data.append(group)

# Convertir a DataFrame de pandas
grouped_df = pd.DataFrame(grouped_data)

# Análisis posterior sobre los grupos

# 1. Calcular el promedio de 'value' para cada fecha
grouped_df['average_value'] = grouped_df['items'].apply(lambda x: pd.DataFrame(x)['value'].mean())

# 2. Calcular la suma total de 'value' para cada fecha
grouped_df['total_value'] = grouped_df['items'].apply(lambda x: pd.DataFrame(x)['value'].sum())

# 3. Encontrar la fecha con el valor máximo y mínimo
max_value_date = grouped_df.loc[grouped_df['total_value'].idxmax(), 'date']
min_value_date = grouped_df.loc[grouped_df['total_value'].idxmin(), 'date']

# 4. Contar el número de elementos por fecha
grouped_df['count'] = grouped_df['items'].apply(lambda x: len(x))

# Mostrar el resultado del análisis
print("DataFrame agrupado y analizado:")
print(grouped_df)
print()

print("Resultados del análisis:")
print(f"Fecha con el valor máximo total: {max_value_date}")
print(f"Fecha con el valor mínimo total: {min_value_date}")

DataFrame agrupado y analizado:
         date                                              items  \
0  2024-07-01  [{'date': '2024-07-01', 'value': 10}, {'date':...
1  2024-07-02  [{'date': '2024-07-02', 'value': 20}, {'date':...

   average_value  total_value  count
0           12.5           25      2
1           25.0           75      3

Resultados del análisis:
Fecha con el valor máximo total: 2024-07-02
Fecha con el valor mínimo total: 2024-07-01

**Extracting a Subset of a Dictionary**

**Problema**
* Desea crear un diccionario que sea un subconjunto de otro diccionario.

**Solución**
* Esto se consigue fácilmente utilizando la comprensión de un diccionario. Por ejemplo:

In [171]:
prices = {
 'ACME': 45.23,
 'AAPL': 612.78,
 'IBM': 205.55,
 'HPQ': 37.20,
 'FB': 10.75
 }

In [158]:
tech_names = {key for key,_ in prices.items()}
tech_names

{'AAPL', 'ACME', 'FB', 'HPQ', 'IBM'}

In [159]:
values = {value for _,value in prices.items()}
values

{10.75, 37.2, 45.23, 205.55, 612.78}

In [144]:
# Make a dictionary of all prices over 200
p1 = {key:value for key,value in prices.items() if value > 200}
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [156]:
#Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = {key:value for key,value in prices.items() if key in tech_names}
p2

{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

**Debate**

* Mucho de lo que se puede lograr con la comprensión de un diccionario también podría hacerse creando una secuencia de tuplas y pasándolas a la función dict(). Por ejemplo:

In [162]:
p1 = dict((key,value) for key, value in prices.items() if value > 200)
p1

{'AAPL': 612.78, 'IBM': 205.55}

A veces hay varias formas de conseguir lo mismo. Por ejemplo, el segundo ejemplo podría reescribirse como:

In [170]:
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
#interseccion de ambos diccionarios en keys
p2 = {key: prices[key] for key in prices.keys() & tech_names}
p2

{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

In [1]:
def mostrar_datos(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Llamada a la función con argumentos de palabra clave
mostrar_datos(nombre='Juan', edad=30, ciudad='Madrid')

nombre: Juan
edad: 30
ciudad: Madrid

In [2]:
datos = {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}

# Llamada a la función con el desempaquetado del diccionario
mostrar_datos(**datos)

nombre: Juan
edad: 30
ciudad: Madrid